.mobile-container{
    width: 100vw;
    height: 725vw;
  }
  
  .container-bottom{
    width: 91%;
    height: 57%;
    margin-left: 4.5%;
    margin-bottom: 37.5%;
  }
  .container-bottom-photo1 {
    width: 100%;
    height: 20%;
    background-image: url('../assets/mobile/image-grid-1.jpg');
    background-size: cover;
    margin-bottom: 4%;
  }
  
  .container-bottom-photo2 {
    width: 100%;
    height: 30%;
    background-image: url('../assets/mobile/image-grid-2.jpg');
    background-size: cover;
    margin-bottom: 4%;
  }
  
  .container-bottom-photo3 {
    width: 100%;
    height: 12.5%;
    background-image: url('../assets/mobile/image-grid-3.jpg');
    background-size: cover;
    margin-bottom: 4%;
  }
  
  .container-bottom-text-box {
    width: 100%;
    height: 18%;
    background-color: #151515;
    padding-top: 15%;
  }
  
  .container-bottom-title1 {
    color: #151515;
    font-size: 14vw;
    font-weight: 900;
    margin-bottom: 4%;
  
  }
  
  .container-bottom-copy1{
    color: #444444;
    font-weight: 300;
    font-size: 5vw;
    line-height: 160%;
    margin-bottom: 4%;
  }
  
  .container-bottom-title2 {
    color: #ffffff;
    font-size: 14vw;
    font-weight: 900;
    margin-left: 6%;
    margin-bottom: 1%;
  
  }
  
  .container-bottom-copy2{
    color: #ffffff;
    font-weight: 200;
    font-size: 5vw;
    margin-left: 6%;
    margin-top: 10%;
    line-height: 160%;
  }
  
  .container-top{
    width: 100%;
    height: 22%;
    margin-bottom: 37.5%;
  }
  
  .container-top-photo{
    height: 38%;
    width: 100%;
    background-image: url('../assets/mobile/image-hero.jpg');
    background-size: cover;
    margin-bottom: 9%;
  }
  
  .container-top-title{
    width: 91%;
    height: 17%;
    margin-left: 4.5%;
    color: #151515;
    font-size: 15.5vw;
    font-weight: 900;
    margin-bottom: 9%;
  }
  
  .container-top-copy{
    height: 18;
    width: 91%;
    margin-left: 4.5%;
    color: #444444;
    font-weight: 300;
    font-size: 5vw;
    line-height: 160%;
    margin-bottom: 9%;
  }
  
  
  .footer{
    height: 11%;
    width: 100%;
    padding-top: 12%;
    background-color: #151515;
  }
  
  .footer-title {
    color: #ffffff;
    font-size: 6vw;
    font-weight: 900;
    margin-bottom: 3%;
    margin-left: 12%;
  }
  
  .footer-copy {
    color: #ffffff;
    font-weight: 200;
    font-size: 4.2vw;
    width: 82%;
    line-height: 160%;
    margin-bottom: 3%;
    margin-left: 12%;
  }