.App{
  margin: 0;
  padding: 0;
}

.button-location{
  width: 18%;
  height: 3%;
  background-color: pink;
  z-index: 1000;
  position: absolute;
  left: 64%;
  top: 16%;
}

.fb-sub-1 {
  width: 57%;
  margin-right: 2.5%;
  background-image: url(./assets/desktop/image-grid-2.jpg);
  background-position: center;
  background-size: cover;
}

.fb-sub-2{
  width: 40.5%;
}

.fb-sub-2-photo1 {
  height: 44%;
  margin-bottom: 4%;
  background-image: url(./assets/desktop/image-grid-3@2x.jpg);
  background-position: center;
  background-size: cover;
}

.fb-sub-2-photo2 {
  background-color: #151515;
  height: 53.5%;
}
.flex-top {
  display: flex;
  
  height: 35%;
  background-color: blue;
  margin-bottom: 2.5%;
}

.flex-bottom {
  display: flex;
  height: 62.5%;
  /* background-color: red; */
}



footer {
  width: 100%;
  height: 9.5%;
  background-color: #151515;
}

.ft-text {
  height: 100%;
  width: 43%;
  background-color: #ffffff;
}

.ft-photo {
  width: 57%;
  background-image: url(./assets/desktop/image-grid-1.jpg);
  background-position: center;
  background-size: cover;
}
 

h1 {
  font-style: italic;
  color: blue;
}

.main-container {
  border: 1px solid blue;
  height: 177vw;
}

.sct-black{
  border: 1px solid purple;
  width: 35%;
  height: 100%;
  background-color: #151515;
}

.sct-photo{
  border: 1px solid purple;
  width: 43%;
  height: 100%;
  background-image: url(./assets/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
}

.sct-white{
  border: 1px solid purple;
  width: 22%;
  height: 100%;

}

.sub-container-top{
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 31%;
  border: 1px dotted red;
  margin-bottom: 13.6vw;
}

.sub-container-bottom{
  border: 1px dotted red;
  height: 45%;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 11.8vw;

}


