.App{
  margin: 0;
  padding: 0;
}

.button-location{
  width: 18%;
  height: 3%;
  background-color: pink;
  z-index: 1000;
  position: absolute;
  left: 64%;
  top: 16%;
}

h1 {
  font-style: italic;
  color: blue;
}

.main-container {
  border: 1px solid blue;
  height: 177vw;
}

.sct-black{
  border: 1px solid purple;
  width: 35%;
  height: 100%;
  background-color: #151515;
}

.sct-photo{
  border: 1px solid purple;
  width: 43%;
  height: 100%;
  background-image: url(./assets/desktop/image-hero.jpg);
  background-position: center;
  background-size: cover;
}

.sct-white{
  border: 1px solid purple;
  width: 22%;
  height: 100%;

}

.sub-container-top{
  display: flex;
  flex-direction: row;
  width: 88%;
  height: 31%;
  border: 1px dotted red;
  margin-bottom: 8%;
}

.sub-container-bottom{
  border: 1px dotted red;
}


