.App {
  margin: 0;
  padding: 0;
}

/* Global Styles ----------------------------------------------------------*/
h1, p {
  text-shadow: 0px 6px 10px rgba(21,21,21,0.25);
}

h1{
  font-family: "Big Shoulders Display", sans-serif;
  font-style: normal;
  text-transform: uppercase;
}

p {
  font-family: "Outfit";
}

.footer-icons{
  display: flex;
  justify-content: space-between;
  height: 24% ;
  width: 9%;
}

.icon {
height: 100%;
width: 20%;
background-image: url(./assets/icon-facebook.svg);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
cursor: pointer;
}

#icon-fb {
background-image: url(./assets/icon-facebook.svg);
}

#icon-ig {
background-image: url(./assets/icon-instagram.svg);
}

#icon-tw {
background-image: url(./assets/icon-twitter.svg);
}

.mobile-container{
  display: none;
}

@media (width <= 600px) {

  .main-container{
    display: none;
  }

  .mobile-container{
    display: block;
  }

  .button {
    position: relative;
    right: 0%;
    top: 0%;
    height: 9%;
    width: 70%;
    margin-left: 4.5%;
  }
  
  .button-el-1 {
    font-size: 6vw;
  }
  
  .button-el-2 {
    width: 25%;
  }

  .footer-icons{
    justify-content: space-between;
    width: 35%;
    margin-left: 12%;
  
  
  }

}






